<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.phone.mapper.CityInfoMapper" >
  <resultMap id="BaseResultMap" type="cn.com.phone.pojo.CityInfo" >
    <id column="CITY_ID" property="cityId" jdbcType="INTEGER" />
    <result column="PROVICE_ID" property="proviceId" jdbcType="INTEGER" />
    <result column="CITY_NAME" property="cityName" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="STATE" property="state" jdbcType="INTEGER" />
    <result column="REMARSK" property="remarsk" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CITY_ID, PROVICE_ID, CITY_NAME, CREATE_DATE, STATE, REMARSK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.com.phone.pojo.CityInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from city_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from city_info
    where CITY_ID = #{cityId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from city_info
    where CITY_ID = #{cityId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.com.phone.pojo.CityInfoExample" >
    delete from city_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.phone.pojo.CityInfo" >
    insert into city_info (CITY_ID, PROVICE_ID, CITY_NAME, 
      CREATE_DATE, STATE, REMARSK
      )
    values (#{cityId,jdbcType=INTEGER}, #{proviceId,jdbcType=INTEGER}, #{cityName,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{state,jdbcType=INTEGER}, #{remarsk,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.phone.pojo.CityInfo" >
    insert into city_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        CITY_ID,
      </if>
      <if test="proviceId != null" >
        PROVICE_ID,
      </if>
      <if test="cityName != null" >
        CITY_NAME,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="remarsk != null" >
        REMARSK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="proviceId != null" >
        #{proviceId,jdbcType=INTEGER},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="remarsk != null" >
        #{remarsk,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.phone.pojo.CityInfoExample" resultType="java.lang.Integer" >
    select count(*) from city_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update city_info
    <set >
      <if test="record.cityId != null" >
        CITY_ID = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.proviceId != null" >
        PROVICE_ID = #{record.proviceId,jdbcType=INTEGER},
      </if>
      <if test="record.cityName != null" >
        CITY_NAME = #{record.cityName,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.remarsk != null" >
        REMARSK = #{record.remarsk,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update city_info
    set CITY_ID = #{record.cityId,jdbcType=INTEGER},
      PROVICE_ID = #{record.proviceId,jdbcType=INTEGER},
      CITY_NAME = #{record.cityName,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      STATE = #{record.state,jdbcType=INTEGER},
      REMARSK = #{record.remarsk,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.phone.pojo.CityInfo" >
    update city_info
    <set >
      <if test="proviceId != null" >
        PROVICE_ID = #{proviceId,jdbcType=INTEGER},
      </if>
      <if test="cityName != null" >
        CITY_NAME = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=INTEGER},
      </if>
      <if test="remarsk != null" >
        REMARSK = #{remarsk,jdbcType=VARCHAR},
      </if>
    </set>
    where CITY_ID = #{cityId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.phone.pojo.CityInfo" >
    update city_info
    set PROVICE_ID = #{proviceId,jdbcType=INTEGER},
      CITY_NAME = #{cityName,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      STATE = #{state,jdbcType=INTEGER},
      REMARSK = #{remarsk,jdbcType=VARCHAR}
    where CITY_ID = #{cityId,jdbcType=INTEGER}
  </update>
</mapper>