<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.phone.mapper.ProviceInfoMapper" >
  <resultMap id="BaseResultMap" type="cn.com.phone.pojo.ProviceInfo" >
    <result column="PROVICE_ID" property="proviceId" jdbcType="INTEGER" />
    <result column="PROVICE_NAME" property="proviceName" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="STATE" property="state" jdbcType="INTEGER" />
    <result column="REMARSK" property="remarsk" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PROVICE_ID, PROVICE_NAME, CREATE_DATE, STATE, REMARSK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.com.phone.pojo.ProviceInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from provice_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="cn.com.phone.pojo.ProviceInfoExample" >
    delete from provice_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.phone.pojo.ProviceInfo" >
    insert into provice_info (PROVICE_ID, PROVICE_NAME, CREATE_DATE, 
      STATE, REMARSK)
    values (#{proviceId,jdbcType=INTEGER}, #{proviceName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=INTEGER}, #{remarsk,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.phone.pojo.ProviceInfo" >
    insert into provice_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="proviceId != null" >
        PROVICE_ID,
      </if>
      <if test="proviceName != null" >
        PROVICE_NAME,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="remarsk != null" >
        REMARSK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="proviceId != null" >
        #{proviceId,jdbcType=INTEGER},
      </if>
      <if test="proviceName != null" >
        #{proviceName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="remarsk != null" >
        #{remarsk,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.phone.pojo.ProviceInfoExample" resultType="java.lang.Integer" >
    select count(*) from provice_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update provice_info
    <set >
      <if test="record.proviceId != null" >
        PROVICE_ID = #{record.proviceId,jdbcType=INTEGER},
      </if>
      <if test="record.proviceName != null" >
        PROVICE_NAME = #{record.proviceName,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.remarsk != null" >
        REMARSK = #{record.remarsk,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update provice_info
    set PROVICE_ID = #{record.proviceId,jdbcType=INTEGER},
      PROVICE_NAME = #{record.proviceName,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      STATE = #{record.state,jdbcType=INTEGER},
      REMARSK = #{record.remarsk,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>